{% extends "base.html" %}

{% load humanize %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{ block.super }}Browse Videos{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'site/css/explore.css' %}" />
    <script src="{% static 'site/js/explore.js' %}"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock scripts %}


{% block navbar-left %}
  {% include "_navbar.html" with active_link="browse" %}
{% endblock %}

{% block container %}

    <div id="sec1" class="text-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>{% include "_brandname.html" %}</h1>
            <p class="lead">Awesome vids are here</p>
          </div>
        </div>
      </div>
    </div>
    </br>

    <div class="container-fluid">
        <table id="video_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Name</th>
                    <th>Views</th>
                    <th>Upload</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>URL</th>
                    <th>Name</th>
                    <th>Views</th>
                    <th>Upload</th>
                </tr>
            </tfoot>
            <tbody>
                {% for video in data %}
                    <tr>
                        <!--<td>-->
                            <!--&lt;!&ndash; Button HTML (to Trigger Modal) &ndash;&gt;-->
                            <!--<a href="#myModal" data-toggle="modal" class="btn btn-default trigger_viewer" rel="{{ video.key }}" style="width:100%; height:100%; background:none; border:none;box-shadow:none;">-->
                                 <!--<img src="{% static 'site/img/YouTube_icon.png' %}" width="40" /> &nbspWatch it !-->
                            <!--</a>-->
                        <!--</td>-->
                        <td>{{ video.key }}</td>
                        <td>{{ video.name }}</td>
                        <td>{{ video.added_by.name }}</td>
                        <td>{{ video.added_date|date:'Y-m-d H:i' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/add_video/" class="btn btn-primary btn-lg active" role="button">Propose a video</a>
    </div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-admin">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="title_modal"></h4>
                </div>
                <div class="modal-body">
                    <iframe id="playerVideo" width="720" height="576" src="" frameborder="0" allowfullscreen></iframe> <!-- 560 x 315 -->
                </div>
            </div>
        </div>
    </div>




{% endblock container %}